#contact-container{
    background-image: url("../image/contactbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-container2{
    height: auto;
    background-color: white;
    margin-top: -100px;
    margin-bottom: 30px;
    border-radius: 10px;
}

#contact-form{
    background-color:  #26294b;
    margin-top: 40px;
    margin-right: 4%;
    margin-left: 4%;
    border-radius: 15px;
}

.contact-color{
    color: white;
}

.contact-color-black{
    color: black;
}

.contact-size{
    margin-top: 40px;
}

.contact-align{
    text-align: left !important;
}

.contact-mar{
    margin-top: 58px;
    margin-left: 3rem;
    margin-bottom: 20px; 
    font-weight: bold; 
}

.contact-mar2{
    margin-left: 3rem;
    margin-right: 3rem;
}

.contact-mar3{
    margin-left: 5rem;
    margin-top: 2rem;
}

#contact-sz1{
    margin-top: 30px;
}

#contact-pad{
    padding-top: 25px;
}

#contact-container3{
    height: 400px;
}

.contactimag2{
    height: 100%;
    width: 100%;
}

.contact-input{
    background-color:#5E6D84!important;
    border: none !important;
    color: white;
    border-radius: 0px !important;
}
.contact-p-mar{
    
    color: white;
}
.contact-span{
    margin-left: 50px;
    color:black;
}
.icon-contact{
    margin-top: 20px;
}
.contact-span2{
    margin-left: 55px;
    color:black;
}
.contact-mar-b{
    margin-bottom: -15px;
}
.m-icon{
    margin-top: 10px;
    margin-right: 15px;
}
::placeholder{
    color:white;
}
.contact-color2{
    color: rgb(215, 204, 204);
}