#port-container{
    height: 500px;   
    background: #FECE3C;

}
#port-imag1{
    height: 100%;
    width: 80%;
}
#portrow1{
    margin-top: 20%;
}
#port-para{
    color: black;
    font-weight: bold;
}
#port-container2{
    height: auto;
  background-color: white;
}
#port-para2{
    color: black;
    font-weight: bold;
    font-size: 20px;

}
.port-imag{
    width: 80%;
    height: 400px;
   
    margin-bottom: 20px;
}
.img-port11{
    width: 100%;
    height: 100%;
}
.portcolor1{
    width: 100%;
    height: 20%;
    margin-top: -165px;

}
.port-p1{
    margin-top: -100px;
    color: white;

}
.port-p2{
    margin-top: -70px;
    color: white;

}