*,*::after, *::before{
    margin: 0;
    box-sizing: border-box;

}
li{
    list-style: none;


}
a{
    text-decoration: none;
    color: darkgray;
  
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    background: white;
}
.nav_brand{
    text-transform: uppercase;
    font-weight: bold;
}
.nav_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.nav_toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: darkgray;
    transition: 0.4s ease-in;


}
.nav_toggler{
    cursor: pointer;
    display: none;
}
@media  screen and (max-width: 768px) {
    .nav_toggler{
        display: block;
    }

    .nav_menu{
        position: absolute;
        top: 17vh;
        right: 0;
        width:35% ;
        height: 50vh;
        background: rgb(0,28,73);
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;

    }
    
}

/* nav active class */
.nav_active{
    transform: translateX(0);
    
}
/* toggler icon animation */
.toggle .line1{
    transform: rotate(-45deg) translate(-4px,5px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px,-5px);
}
