#company-countainer{
    height: 500px;
    
    background-image: url("../image/compn1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#company-countainer22{
    height: 500px;
    background-color: white;
}

#company-h1{
    color:  white;
    margin-top: 6%;
}
.company-p1{
    color: white !important;
    margin-top: 12%;
}


.contibm{
    height: auto;
    background: rgba(8, 46, 83, 0.03);
    
}
.row1-heading{
    margin-top: 15px;
}

#company-countainer2{
    height: 500px;
    background-color: antiquewhite;
}
.count2-p2{
    color: black;
    margin-top: 20px;
}
#company-countainer3{
    height: 200px;
    background: #FECE3C;
}
.count3-h3{
    margin-top: 10px;
    font-size: 100px;
    font-weight: bold;
   
}
.count3-p3{
    color: black;
    font-weight: bold;
}
.count3-center{
    display: flex;
    justify-content: center;
}

