#company-countainer{
    height: auto;
    
    background-image: url("../image/companybg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#company-para1{
    color: white;
    font-size: 25px;
    margin-top: 25px;
}
#ompany-h1{
    color:  white;
}
.bg-img{
    background-image: url("../image/company1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;



}
.c-height {
    height: 100px;
}
.img-h{
    margin-top: 10px;
    margin-right: 15px;
}
#row-cen{
    justify-content: center;
    margin-top: 20px;
}
.h2-color{
    color: white;
    margin-top: 15px;
}
.contibm{
    height: auto;
    background: rgba(8, 46, 83, 0.03);
    
}

#company-countainer2{
    height: 500px;
    background-color: antiquewhite;
}
.count2-p2{
    color: black;
    margin-top: 20px;
}
#company-countainer3{
    height: 200px;
    background: #FECE3C;
}
.count3-h3{
    margin-top: 10px;
    font-size: 100px;
    font-weight: bold;
   
}
.count3-p3{
    color: black;
    font-weight: bold;
}
.count3-center{
    display: flex;
    justify-content: center;
}

